<div class="flex items-center justify-center w-full h-full">
    <div class="flex md:justify-center items-center w-6/12 md:w-7/12 text-sm md:text-base">
        <h5 class="m-0">Follow us on Twitch!</h5>
    </div>
    <div
        class="flex flex-col justify-center items-center sm:flex-row sm:justify-end sm:items-center w-6/12 sm:w-5/12 text-sm">
        <div class="flex justify-center sm:justify-start sm:items-center mb-1 sm:mb-0">
            <p class="sm:me-1">Made with</p>
            <img src="droplet_love.png" class="love-img">
        </div>
        <p class="sm:ms-2">by Mar.LizZo</p>
    </div>
</div>