<div class="flex items-center w-full h-full">
    <div class="flex items-center justify-center h-full">
        <img src="profile_pic.png" class="profile-pic rounded-full shadow"
            alt="BlueAgua_">
        <div class="ms-3 flex flex-col justify-center font-medium">
            <h6 class="mb-1 text-sm md:text-base">BlueAgua_</h6>
            <h6 class="mb-1 text-sm md:text-base">Twitch bot commands</h6>
        </div>
    </div>
    <div class="ms-4 flex flex-col grow h-full">
        <div class="flex justify-end items-center h-custom-48">
            <a href="https://streamlabs.com/blueagua_/tip" target="_blank" data-tooltip="Donation">
                <i class="bi bi-currency-dollar md:text-xl"></i>
            </a>
            <a href="https://streamelements.com/blueagua_/store" target="_blank" class="mx-6"
                data-tooltip="Stream store">
                <i class="bi bi-shop-window md:text-xl"></i>
            </a>
            <a href="https://subs.twitch.tv/blueagua_" target="_blank"
                class="sub-btn px-3 md:px-4 rounded-lg text-sm text-neutral-800">Subscribe</a>
        </div>
        <div class="separator grow"></div>
        <div class="flex justify-end items-center me-1 h-custom-48">
            <a href="https://www.twitch.tv/blueagua_" target="_blank" class="me-6" data-tooltip="Twitch">
                <i class="bi bi-twitch md:text-xl"></i>
            </a>
            <a href="https://discord.gg/8k4uq7kEGS" target="_blank" class="me-6" data-tooltip="Discord">
                <i class="bi bi-discord md:text-xl"></i>
            </a>
            <a href="https://www.tiktok.com/@blueagua_" target="_blank" class="me-6" data-tooltip="Tiktok">
                <i class="bi bi-tiktok md:text-xl"></i></a>
            <a href="https://www.instagram.com/blueaguattv/" target="_blank" class="me-6" data-tooltip="Instagram">
                <i class="bi bi-instagram md:text-xl"></i>
            </a>
            <a href="https://www.youtube.com/@BlueAguaTTV" target="_blank" class="" data-tooltip="Youtube">
                <i class="bi bi-youtube md:text-xl"></i>
            </a>
        </div>
    </div>
</div>